

.card > .row > .icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  /* margin: 30px 10px 10px; */
  height: 40px;
  width: 40px;
}

.card > .row > .description {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  transform: translateY(30px);
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  width: 520px;
}


input:checked + label {
  width: var(--width);
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* .card {
  background-image: var(--img);
} */